certifi==2023.7.22
charset-normalizer==3.2.0
distlib==0.3.7
filelock==3.12.2
idna==3.4
platformdirs==3.10.0
requests==2.31.0
-e git+ssh://git@github.com/erlandsen-tech/VIP-frontend.git@ddbe5203713d1894c1de016384bb2b787fdc65f4#egg=src&subdirectory=amplify/backend/function/searchCompanyByName/src
urllib3==2.0.4
virtualenv==20.24.2
