certifi==2023.7.22
charset-normalizer==3.2.0
distlib==0.3.7
filelock==3.12.2
idna==3.4
platformdirs==3.10.0
requests==2.31.0
-e git+ssh://git@github.com/erlandsen-tech/VIP-frontend.git@ddbe5203713d1894c1de016384bb2b787fdc65f4#egg=src&subdirectory=amplify/backend/function/searchCompanyByName/src
urllib3~=1.26.16
virtualenv==20.24.2

pip~=23.2.1
setuptools~=67.6.1
boto3~=1.28.15
python-dotenv~=1.0.0
botocore~=1.31.15
s3transfer~=0.6.1
jmespath~=1.0.1
six~=1.16.0
python-dateutil~=2.8.2